<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= pageName
            P Coloca tu nuevo password

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p=error

            form(class="caja caja-login" id="formulario" method="post")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Password")
                .campo.enviar
                    input(type="submit" class="boton" value="Reestablecer password")

        script(src="/dist/bundle.js")